In order to get the credit, you need to gain at least 80 points.

There will be a written test towards the end of the semester (during one of the last two classes, unless stated otherwise). You can get at most 120 points from the test. Apart from that, you can get additional at most 20 points for homework.

The test can be repeated, at most twice. (The highest score will be counted. The date & time of the retake tests will be announced at a later point.)

Details about homework will be specified in class and the assignemnts will be posted online. You will submit your solutions on paper in class. Alternatively, in case you won't be able to come to class, by email before the start of the class. Your solution must be easily readable. If you submit it via email, then it must be in a single PDF file with pure white background.

Until the deadline, it is strictly forbidden to discuss the homework problems in any way, with anyone but me, search for hints, etc. Your solution must be 100% your own work. It is your responsibility to ensure that no other person can access your solution. 
